extends layout

block content
  .w3-container(style= "min-height: 86vh;")
    h1
      b= title
    p
    if cabazes && cabazes.length > 0
        table.w3-table-all
          tr.w3-grey.w3-text-black
            th Cabaz
            th Produtos
            th Preço
          each cabaz in cabazes
            tr
              td= cabaz.name
              td
                ul
                  - let i = 0
                  for l in lista 
                    li
                      a.w3-hover-text-blue(href=`/produtos/${ll[i]}`)= l
                    - i+=1
              td #{cabaz.total} €
    p
    - let p = Math.abs((100 - (cabazes[0].indice * 100)).toFixed(1))
    if cabazes[0].indice == 1
      .w3-panel.w3-yellow
        p O cabaz&nbsp;
          b #{nome}&nbsp;
          span no Continente tem o mesmo preço que na concorrência&nbsp;
    else if cabazes[0].indice < 1
      .w3-panel.w3-green
        p O cabaz&nbsp;
          b #{nome}&nbsp;
          span no Continente está mais barato&nbsp;
          b #{p}%&nbsp; 
          span que na concorrência&nbsp;
    else if cabazes[0].indice > 1
      .w3-panel.w3-red
        p O cabaz&nbsp;
          b #{nome}&nbsp;
          span no Continente está mais caro&nbsp;
          b #{p}%&nbsp;
          span que na concorrência&nbsp;
