extends layout

block content
  .w3-container(style= "min-height: 835px;")
    h1
      b= title
    p
    h3 
        b Nome: 
        span #{nome}
    h3 
        b Id: 
        span #{id}

    if suggestions && suggestions.length>0
      include components/searchBar.pug

    else
      if prices && prices.length > 0
        table.w3-table-all
          tr.w3-red.w3-text-black
            th Loja
            th Preço
          each price in prices
            tr
              td= price.store
              td= price.price
    - let p = (prices[0].price * 100).toFixed(1)
    if prices[0].price == 1
      .w3-panel.w3-yellow
        p O produto&nbsp;
          b #{nome}&nbsp;
          span no continente tem o mesmo preço que na concorrência&nbsp;
    else if prices[0].price < 1
      .w3-panel.w3-green
        p O produto&nbsp;
          b #{nome}&nbsp;
          span no continente está mais barato&nbsp;
          b #{p}%&nbsp; 
          span que na concorrência&nbsp;
    else if prices[0].price > 1
      .w3-panel.w3-red
        p O produto&nbsp;
          b #{nome}&nbsp;
          span no continete está mais caro&nbsp;
          b #{p}%&nbsp;
          span que na concorrência&nbsp;
